<h1>Hello world</h1>

<!-- <app-hello-world></app-hello-world> -->
<!-- <app-form></app-form> -->
<!-- <app-list></app-list> -->
<!-- <app-header></app-header> -->
<!-- 
Title: <input type="text" [(ngModel)]="title">
<button (click)="addTitle()">Submit</button><br>
Disable Heading:<input type="checkbox" [(ngModel)]="disableHeading">
<br>
<br>
<app-header *ngIf="disableHeading!" [text]="titles"></app-header> -->
<!-- <app-template-driven-form></app-template-driven-form> -->
<!-- <app-reactive-form></app-reactive-form> -->

<!-- Httpclient user list -->
<!-- <app-user-list></app-user-list> -->

<!-- -----------routing concept--------  -->
<br><br>
<ul>
    <li><a routerLink="/">Home</a></li>
    <li><a routerLink="/about">About</a></li>
    <li><a routerLink="/contact-us">Contact Us</a></li>
    <li><a routerLink="/post/1">post</a></li>
</ul>

<router-outlet></router-outlet>
